#navbar-container {
  background-color: #0d6efd;
  letter-spacing: 3px;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link {
  color: #fff !important;
}

.navbar-brand {
  margin-right: auto !important;
}
