#navbar {
  padding-left: 0;
  padding-right: 0;
}

#navbar-container {
  background-color: #0d6efd;
  letter-spacing: 3px;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar-brand {
  margin-right: auto !important;
}
