/* font-family: 'Amatic SC', cursive;

font-family: 'Architects Daughter', cursive;

font-family: 'Indie Flower', cursive; */

.App-Body {
	background-color: #0d6efd;
	height: 100vh;
	font-family: "Brush Script MT", cursive;
}

.Component-Body {
	background-color: #0d6efd;
	height: 100vh;
}

.title {
	/* display: flex;
  justify-content: center; */

	color: yellow;
	padding-top: 15px;
	padding-left: 1em;
	font-size: 3rem;
	letter-spacing: 8px;
	font-family: "Amatic SC", cursive;
}

.WordOfDay {
	padding-bottom: 1em;
	background-color: black;
	opacity: 0.6;
	color: white;
	border: solid;
	border-width: 3px;
	border-color: greenyellow;
}

.image {
	background: url(./images/Forest.png);
	background-size: cover;
	background-position: center;
	min-height: 300px;
	width: 100vw;
}

.definition {
	margin-left: 5em;
}

.word {
	/* font-family: "Indie Flower", cursive; */
	font-size: 2.8rem;
	text-transform: capitalize;
	letter-spacing: 10px;
	color: yellow;
	font-style: italic;
	text-shadow: -0.01em 0.01em 0.1em green;
}

.meaning {
	margin-left: 3em;
	grid-area: meaning;
	font-family: "Architects Daughter", cursive;
	font-size: 1.5rem;
	letter-spacing: 2px;
}
