@use "variables" as var;

.home-wrapper {
  height: 100vh;

  background: url("./../images/mountaineering.png");
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  color: var.$light-purple;
  // font-family: "Amatic SC", cursive;
  font-family: "Righteous", cursive;
  //   font-family: "Viga", sans-serif;
}

// .home-wrapper * {
//   margin-bottom: 8vh;
// }

.home-title {
  transform: translateX(15%);
  font-size: 5.5rem;

  // margin-bottom: 10vh;
}

.home-sub-title {
  transform: translateX(-15%);

  font-size: 3.5rem;
  margin-bottom: 5vh;
  margin-left: auto;

  color: var.$purple;
  text-shadow: -0.01em 0.01em 0.1em var.$light-blue;
}

.home-wrapper {
  font-size: 3.5rem;

  margin-left: auto;

  color: var.$purple;
  text-shadow: -0.01em 0.01em 0.1em var.$light-blue;
}
