@use "variables" as var;

#navbar-container {
  background-color: black;
  letter-spacing: 5px;

  font-family: var.$righteous;

  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-shadow: -1px 1px 3px var.$primary;
}

#navbar {
  background-color: var.$primary-light;
  height: 60px;
}

.nav-link {
  color: var.$secondary-bright !important;

  margin-left: 1.25vw !important;
}

.nav-link.active {
  color: var.$secondary-light !important;
}

.nav-link:hover {
  opacity: 0.65;
}

.navbar-brand {
  margin-left: auto !important;
  height: 40px;
  width: 40px;

  border-radius: 50%;

  background: linear-gradient(var.$primary-rgba, var.$primary-rgba), url("./../images/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// .navbar-toggler {
// 	// color: #00c853 !important;
// 	background-color: #00c853 !important;
// }

// .img-brand {
// 	width: 100%;
// 	border-radius: 50%;
// }
