.profile-page-wrapper {
  display: flex;
  flex-direction: column;
}

.profile-page-wrapper .profile-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 1rem;
}

.profile-page-wrapper .profile-pic-wrapper {
  width: 200px;
}

.profile-page-wrapper .profile-pic {
  max-width: 100%;
  max-height: 200px;
  border-radius: 50%;
}

.profile-page-wrapper .profile-names {
  margin-left: 1rem;
}
