$dark-background: #2b2d42;
$purple: #702b9e;
$light-purple: #b429f9;
$blue: #3eabf4;
$light-blue: #26c5f3;
$med-purple: #9c43f8;

$purple-rgba: rgba(112, 43, 158, 0.6);
$blue-rgba: rgba(62, 171, 244, 0.4);
$dark-rgba: rgba(43, 45, 66, 0.9);
$light-blue-rgba: rgba(62, 171, 244, 0.5);

// font-family: 'Amatic SC', cursive;

// font-family: 'Architects Daughter', cursive;

// font-family: 'Bebas Neue', cursive;

// font-family: 'Caveat', cursive;

// font-family: 'Comforter', cursive;

// font-family: 'Cuprum', sans-serif;

// font-family: 'Fira Mono', monospace;

// font-family: 'Fira Sans', sans-serif;

// font-family: 'Indie Flower', cursive;

// font-family: 'Patrick Hand', cursive;

// font-family: 'Righteous', cursive;

// font-family: 'Rowdies', cursive;

// font-family: 'Viga', sans-serif;
